.certificate-main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.small-image{
    height: 10rem;
    width: 6.3rem;
    display: block;
    object-fit:fill;
    border-radius: 2rem;
}
.certificate-main a{
    display: block;
    background-color: red;
    width: 6.3rem;
    height: 10rem;
    border-radius: 2rem;
}
.small-image:hover{
    /* background-color: yellow; */
}

@media (max-width:600px){
    .certificate-main{
        flex-direction: column;
        overflow-y:scroll;
        justify-content:space-between;
        height: 100vh;
        padding: 2rem 0 5rem;
    }
    .small-image{
        height: 10rem;
        width: 6.3rem;
        object-fit:fill;
        border-radius: 2rem;
    }
    .certificate-main a{
        display: block;
        background-color: red;
        width: 6.3rem;
        height: 10rem;
        border-radius: 2rem;
        margin: 1rem;
        position: relative;
    }
    .certificate-main a:last-child {
        margin-bottom: 10rem;
    }
}
   




